# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Tests
coverage
*.lcov

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# build directory
dist
